:root {
	--HOVER: #f2f3f5;
	--width-cover: 940px;
	--width-content: 900px;
	--height-menu: 60px;
	--web-wash: #f0f2f5;
	--accent: hsl(214, 89%, 52%);
	--secondary-button-background: #e4e6eb;
	--secondary-text: ##65676b;
	--border: 1px solid #d6d6d6;
	--icon: #66676b;
	--always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}
.account-page {
	background-color: var(--web-wash);
	.icon {
		opacity: 0.8;
	}
	button {
		border: 0;
		height: 36px;
		justify-content: center;
		border-radius: 5px;
		margin-left: 4px;
		padding: 0 12px;
		font-weight: 600;
		font-size: 0.875rem;
		outline: none;
		background-color: var(--secondary-button-background);
		span {
			margin-left: 3px;
		}
	}
	button:hover {
		background-color: lightgrey;
	}
	.cover {
		display: initial;
		.cover-image {
			width: var(--width-cover);
			margin: auto;
			height: 350px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			display: flex;
			justify-content: center;
			.avatar{
				position: absolute;
				z-index: 1;
				width: 170px;
				top: 250px;
				.show-avatar {
					position: absolute;
					height: 170px;
					margin: auto;
					display: flex;
					img{
						height: 100%;
						border: 2px solid white;
						border-radius: 100px;
						width: 100%;
					}
					button{
						position: absolute;
						border-radius: 50px;
						bottom: 25px;
						right: 25px;
						transform: translate(50%, 50%);
						padding: 5px 10px;
						z-index: 2;
						font-size: 20px;
						height: 38px;
						height: 38px;
					}
				}
			}
		
			.button__change-cover{
				z-index: 0;
				border-radius: 10px;
				width: var(--width-cover);
				position: absolute;
				bottom: 40px;
				text-align: right;
				padding: 16px 32px 16px 0;
				background-image: var(--always-dark-gradient);
				button{
					height: 36px;
					padding: 0 12px;
					.icon{
						margin-right: 5px;
					}
				}
			}
		}
		.cover-display {
			background-color: white;
			display: flex;
			.cover-display-content {
				justify-content: center;
				padding: 16px 6px;
				border-bottom: 1px solid #d6d6d6;
				width: var(--width-content);
				margin: auto;
				text-align: center;
				h1 {
					line-height: 1.1875;
					font-size: 2rem;
					font-weight: 700;
				}
				.button__add-profile {
					margin: auto;
					font-weight: 600;
					color: var(--accent);
					font-size: 0.875rem;
					background-color: white;
				}
				.button__add-profile:hover {
					cursor: pointer;
					text-decoration: underline;
				}
				.cover-display-add {
					margin: auto;
					width: 300px;
					textarea {
						border-radius: 6px;
						padding: 8px 12px;
						text-align: center;
						resize: none;
						font-size: 16px;
						font-weight: 500;
						line-height: normal;
						width: 100%;
					}
					.count-char {
						text-align: end;
						margin-bottom: 12px;
						line-height: 0.5;
						span {
							font-size: 0.75rem;
						}
					}
					.cover-bottom {
						width: 100%;
						margin: 0;
						justify-content: space-between;
						span {
							margin-left: 8px;
						}
						.cover-bottom-right {
							justify-content: flex-end;
						}
					}
				}
			}
		}
		.cover-menu {
			z-index: 1;
			box-shadow: 0 3px 3px var(--shadow-1),
				inset 0 0 0 0 var(--shadow-inset);
			position: sticky;
			top: 57.5px;
			height: var(--height-menu);
			background-color: white;
			.menu-content {
				width: var(--width-content);
				justify-content: space-between;
				height: 100%;
				margin: auto;
				.menu-content-left {
					justify-content: flex-start;
					height: 100%;
					.menu-left-item {
						cursor: pointer;
						display: inline-flex;
						padding: 0 16px;
						height: 100%;
						border-radius: 6px;
						border-bottom: 4px solid white;
						border-top: 4px solid white;
						background-color: #fff;
						span {
							font-size: 15px;
							font-weight: 600;
							color: var(--secondary-text);
							justify-content: center;
							margin: auto;
							opacity: 0.7;
						}
						.item-sumfriend {
							font-weight: normal;
							font-size: 14px;
							margin-left: 5px;
							opacity: 0.7;
						}
					}
					.menu-left-item:hover {
						background-color: var(--HOVER);
					}
					.active {
						opacity: 1;
						color: var(--accent);
						border-bottom-color: var(--accent);
						border-radius: 0;
					}
				}
				.menu-content-right {
					justify-content: flex-end;
					margin: auto 0;
				}
			}
		}
	}

	.main-content {
		max-width: var(--width-content);
		margin: auto;
		.main-content-left,
		.main-content-right {
			padding: 0;
		}
		.content-item {
			display: block;
			border: 1px solid #d6d6d6;
			background-color: white;
			margin: 16px 8px 0;
			border-radius: 10px;
			box-shadow: 0 0px 0 var(--shadow-2);
		}
		.main-content-left {
			.content-item {
				padding: 20px 15px 10px;
				.content-item-header {
					display: flex;
					justify-content: space-between;
					.item-header-title {
						font-size: 1.25rem;
						font-weight: 700;
						margin: 0;
					}
					.item-header-title:hover {
						text-decoration: underline;
					}
					a {
						font-size: 1rem;
						color: var(--accent);
						border-radius: 5px;
					}
					a:hover {
						background-color: var(--HOVER);
						text-decoration: none;
					}
				}
				.grid-container {
					display: grid;
					grid-template-columns: auto auto auto;
					grid-row: 1;
					padding: 10px;
				}

				.content-item-main {
					padding: 16px;
					.item__margin-bottom {
						margin-bottom: 4px;
						padding: 0;
					}
					.item__margin-right {
						padding: 0;
						margin-right: 4px;
					}
				}
			}
			.introduction {
				.content-item-header {
					.item-header-title:hover {
						text-decoration: none;
					}
				}
				.account-instagram {
					display: flex;
					padding-top: 16px;
					a {
						font-size: 0.875rem;
						color: var(--accent);
						margin-left: 10px;
					}
					.icon {
						color: var(--icon);
						font-size: 22px;
					}
				}
				button {
					width: 100%;
					margin: 10px 0;
				}
			}
		}
	}
}
