.list-likes-modal {
	background-color: #ffffff;
	margin-bottom: 15px;
	height: 125px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px 10px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
