.img_avt {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
button {
	cursor: pointer;
}
button:hover,
label:hover {
	background-color: var(--hover);
}
.post-form {
	background-color: #ffffff;
	margin: auto;
	margin-bottom: 15px;
	height: auto;
	width: 590px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px 10px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	&-top {
		display: flex;
		align-items: center;
		&__btn,
		&__btn:focus {
			flex-grow: 1;
			border: none;
			background-color: #eeeff1;
			height: 40px;
			margin-left: 10px;
			border-radius: 20px;
			text-align: left;
			outline: none;
			padding-left: 20px;
		}
	}
	.post-form-bot {
		margin-top: 12px;
		padding-top: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #e8e9eb;
		&__btn,
		&__btn:focus {
			width: 100%;
			height: 40px;
			border: none;
			background-color: #ffffff;
			outline: none;
			border-radius: 8px;
		}
		&__btn:hover {
			background-color: var(--hover);
		}
	}
}
.post-form-modal {
	&__body {
		&-account {
			flex-direction: row;
			display: flex;
			padding: 16px;
			width: 100%;
			&-author {
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-weight: 600;
				font-size: 0.9375rem;
				margin-left: 10px;
			}
		}
		&-content {
			padding: 0 16px;
			textarea {
				height: 150px;
				width: 100%;
				border: none;
				resize: none;
				outline: none;
			}
			.image-area {
				display: flow-root;
				overflow-y: scroll;
				max-height: 200px;
				border: 1px solid var(--hover);
				margin: 15px 0;
				padding: 0 5px;
				border-radius: 5px;
				button {
					position: absolute;
					right: 17px;
					z-index: 1;
					border: 1px solid var(--hover);
					width: 30px;
					height: 30px;
					border-radius: 50px;
					outline: none;
					background-color: white;
				}
				img {
					object-fit: contain;
					max-height: 200px;
				}
			}
		}
	}
	&__footer {
		width: fit-content;
		margin: 0 2%;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		border: 1px solid lightgrey;
		label {
			font-weight: 600;
			height: 36px;
			margin: 0;
			cursor: pointer;
			padding: 0 12px;
			align-items: center;
			display: flex;
		}
		.icon {
			font-size: 18px;
			margin-left: 5px;
		}
		input[type="file"] {
			display: none;
		}
	}
	&__post-footer {
		padding: 16px;
		button {
			width: 100%;
			border-radius: 5px;
			height: 36px;
			font-weight: 600;
			border: 0;
			font-size: 0.9375rem;
			cursor: inherit;
			outline: none;
		}
	}
}
