body {
	margin: 0;
	background: white;
	font-family: var(--font-family-apple);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--font-family-apple: system-ui, -apple-system, BlinkMacSystemFont,
		".SFNSText-Regular", sans-serif;
	--bg: #white;
	--bg-accent: #484a4d;
	--text-color: #050505;
	--nav-size: 58px;
	--border: 1px solid #474a4d;
	--border-radius: 8px;
	--speed: 500ms;
	--secondary-button-background: #e4e6eb;
	--shadow-1: rgba(0, 0, 0, 0.1);
	--shadow-2: rgba(0, 0, 0, 0.2);
	--shadow-5: rgba(0, 0, 0, 0.5);
	--shadow-8: rgba(0, 0, 0, 0.8);
	--shadow-inset: rgba(255, 255, 255, 0.5);
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--icon: #66676b;
	--HOVER: #f2f3f5;
	--accent: hsl(214, 89%, 52%);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
	height: var(--nav-size);
	background-color: var(--bg);
	padding: 0 1rem;
	/* border-bottom: var(--border); */
	box-shadow: -1px -1px 5px 0px #b3b0b0;
}

/* <ul> */
.navbar-nav {
	max-width: 100%;
	height: 100%;
	display: contents;
}

/* <li> */
.nav-item {
	width: calc(var(--nav-size) * 0.8);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 4px;
}

/* Icon Button */
.icon-button {
	--button-size: 40px;
	width: var(--button-size);
	height: var(--button-size);
	background-color: var(--secondary-button-background);
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}

.icon-button:hover {
	filter: brightness(0.9);
}

.icon-button svg {
	fill: var(--text-color);
	width: 20px;
	height: 20px;
}

/* Dropdown Menu */

.dropdown {
	position: fixed;
	z-index: 15;
	top: calc(var(--nav-size) - 5px);
	width: 360px;
	right: 15px;
	background-color: white;
	border-radius: var(--border-radius);
	padding: 1rem;
	overflow: hidden;
	box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
		inset 0 0 0 1px var(--shadow-inset);
}

.menu {
	width: 100%;
}
.menu-item {
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius);
	transition: background var(--speed);
	padding: 0.5rem;
}
.menu-item .icon-button {
	margin-right: 0.5rem;
}
.menu-item .icon-button:hover {
	filter: none;
}
.menu-item:hover {
	background-color: #f2f2f2;
}
.icon-right {
	margin-left: auto;
}
/* CSSTransition classes  */
.menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
}
.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
}
.menu-secondary-enter {
	transform: translateX(110%);
}
.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}
.menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all var(--speed) ease;
}

.nav-bar {
	display: initial;
	.nav-bar-fixed {
		position: sticky;
		top: 0;
		z-index: 2;
		width: 100%;
		padding: 0;
		margin: 0;
		height: var(--nav-size);
		background-color: #ffffff;
		box-shadow: 0 3px 3px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
		a,
		a:hover {
			text-decoration: none;
			color: black;
		}
		.nav-bar__left-items {
			margin: auto;
			.left-item-content {
				display: flex;
				.nav-bar__logo {
					width: 40px;
					height: 40px;
					padding: 0;
					border-radius: 50%;
				}
				.nav-bar__search-bar {
					button {
						display: flex;
						width: 290px;
						padding: 0 10px;
						cursor: pointer;
					}
					.icon,
					p {
						margin: auto 3px;
					}
					.icon {
						width: 14px;
					}
					@media (max-width: 1260px) {
						p {
							display: none;
						}
						button {
							width: 40px;
						}
					}
				}
			}
		}
		.nav-bar__navigation {
			padding: 0;
			height: 100%;
			.row{
				height: 100%;
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
				margin: 0;
				.nav-bar__navigation-icon {
					cursor: pointer;
					font-size: 20px;
					color: var(--icon);
					width: 100%;
					height: 100%;
					border-radius: 5px;
					text-align: center;
					padding-top: 10px;
					border: 2px solid white;
				}
				.nav-bar__navigation-icon:hover {
					background-color: var(--HOVER);
				}
				.nav-bar__navigation-icon--home-clicked,
				.nav-bar__navigation-icon--groups-clicked,
				.nav-bar__navigation-icon--watchs-clicked {
					color: #1878f3;
					border-bottom: 2px solid #1878f3;
					border-radius: 0;
				}
			}
		}
		.nav-bar__right-items {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			button {
				border: 0;
				outline: none;
			}
			.nav-bar__right-items-icons {
				border-radius: 50%;
				padding: 10px;
				margin-left: 8px;
				width: 39px !important;
				height: 39px;
				border-radius: 50%;
				background-color: #eeeff1;
				cursor: pointer;
			}
			.nav-bar__right-items-icons:hover {
				background-color: #e8e9eb;
			}
			.nav-bar__info {
				display: flex;
				border-radius: 18px;
				padding: 6px;
				align-items: center;
				margin: auto;
				// margin-right: 5px;
				justify-content: center;
				cursor: pointer;
			}
			.nav-bar__info:hover {
				background-color: var(--HOVER);
			}
			.nav-bar__avt {
				border-radius: 50%;
				margin-left: 0px;
				width: 25px !important;
				height: 25px;
				border-radius: 50%;
				background-color: #eeeff1;
			}
			.nav-bar__name {
				margin-left: 8px;
				font-style: inherit;
				font-weight: 500;
			}
		}
	}
	.nav-bar__search-field {
		position: fixed;
		z-index: 2;
		background-color: white;
		width: 360px;
		box-shadow: 0 12px 12px var(--shadow-2),
			inset 0 0 0 0 var(--shadow-inset);
		top: 0;
		padding: 8px 15px;
		.search-field {
			display: flex;
			.search-field-icon {
				text-align: center;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				outline: none;
				display: inline-flex;
				border: 0;
				background-color: white;
				.icon {
					opacity: 0.5;
					margin: auto;
				}
			}
			input {
				padding: 0 20px;
				width: 295px;
			}
		}
		.search-field-icon:hover {
			background-color: var(--HOVER);
		}
		.search-history {
			.search-history-header {
				display: flex;
				justify-content: space-between;
				padding: 14px 0 8px;
			}
			span {
				font-size: 1rem;
				font-weight: 600;
				padding: 8px 0 0;
			}
			a {
				font-size: 0.875rem;
				padding: 8px 10px 0;
				color: var(--accent);
				border-radius: 5px;
			}
			a:hover {
				background-color: var(--HOVER);
				text-decoration: none;
			}
			.search-history-content {
				.item-search {
					height: 52px;
					padding: 8px;
					border-radius: 5px;
					width: 100%;
					outline: none;
					border: none;
					background-color: white;
					justify-content: space-between;
					display: flex;
					div {
						display: flex;
						img,
						.icon-clock {
							width: 36px;
							height: 36px;
							border-radius: 50px;
							margin-right: 12px;
							background-color: #f1f2f5;
							display: inline-flex;
						}
						.icon {
							width: 20px;
							margin: auto;
						}
						span {
							margin: auto;
							text-align: left;
							font-size: 0.875rem;
							font-weight: 500;
							width: 200px;
							display: inline-block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
					button {
						border: none;
						background-color: transparent;
						border-radius: 50px;
						width: 28px;
						height: 28px;
						margin: 4px 0;
						outline: none;
					}
					button:hover {
						background-color: lightgrey;
					}
				}
				.item-search:hover {
					background-color: var(--HOVER);
					.icon-clock {
						background-color: white;
					}
				}
			}
		}
	}
	.input-search-field {
		height: 39px;
		margin-left: 8px;
		border-radius: 19.5px;
		border: 0;
		outline: none;
		font-size: 16px;
		color: grey;
		background: var(--HOVER);
	}
}

.Home {
	background: var(--HOVER);
	padding-top: 20px;
}
/* POST */
.post {
	width: 590px;
	height: auto;
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px var(--shadow-2);
}
/* Post-header */
.post-header {
	height: 60px;
	max-height: 111px;
	background-color: #ffffff;
	align-items: center;
	display: flex;
	position: relative;
}
.post-header__avt {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
}
.post-header__name {
	position: absolute;
	left: 55px;
	top: 12px;
	font-weight: bold;
}
.post-header__created {
	position: absolute;
	left: 55px;
	top: 30px;
	font-size: x-small;
}
/* Post-body */
.post-body {
	position: relative;

	overflow: hidden;
	background-color: #ffffff;
}
.post-body__content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.post-body__image {
	width: 590px;
	height: auto;
	max-height: 1000px;
}
.post-body__react {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px 5px 10px;
	position: relative;
	&--likes {
		left: 10px;
		cursor: pointer;
	}
	// &--likes:hover {
	// 	border-bottom: 0.5px solid black;
	// }
	&--comments {
		right: 10px;
		cursor: pointer;
	}
}
.post-body__interact {
	display: flex;
	justify-content: space-around;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	align-items: center;
	height: 42px;
	background-color: #e7e4e4;
	cursor: pointer;
}
