body {
	min-width: 375px;
	font-family: "Inter", sans-serif !important;
	font-size: 14px !important;
	line-height: 1.42857;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #11142d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--HOVER: #f2f3f5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--font-family-apple: system-ui, -apple-system, BlinkMacSystemFont,
		".SFNSText-Regular", sans-serif;
	--bg: #white;
	--bg-accent: #484a4d;
	--text-color: #050505;
	--nav-size: 58px;
	--border: 1px solid #474a4d;
	--border-radius: 8px;
	--speed: 500ms;
	--secondary-button-background: #e4e6eb;
	--shadow-1: rgba(0, 0, 0, 0.1);
	--shadow-2: rgba(0, 0, 0, 0.2);
	--shadow-5: rgba(0, 0, 0, 0.5);
	--shadow-8: rgba(0, 0, 0, 0.8);
	--shadow-inset: rgba(255, 255, 255, 0.5);
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--icon: #66676b;
	--HOVER: #f2f3f5;
	--accent: hsl(214, 89%, 52%);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

/* POST */
body.dark {
	.post {
		background-color: #242731;
		.post-header {
			background-color: #242731;
		}
		.post-body {
			background-color: #242731;
		}
	}
	.reactions-show {
	}
}
#post-list {
	margin: auto;
}
.post {
	width: 590px;
	height: auto;
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px var(--shadow-2);
}
/* Post-header */
.ant-modal-content {
	border-radius: 10px !important;
	.ant-modal-header {
		border-radius: 10px 10px 0 0 !important;
	}
	.ant-modal-body {
		padding: 5px 24px 24px 24px !important;
		.reaction-item {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			padding-left: 8px;
			padding-right: 8px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			.reaction-item__left {
				display: flex;
				flex-basis: 100%;
				flex: 2;
				.reaction-item__left--avatar {
					img {
						width: 40px;
						height: 40px;
					}
				}
				.reaction-item__left--name {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 10px;
				}
			}
			.reaction-item__right {
				display: flex;
				flex-basis: 100%;
				flex: 1;
			}
		}
	}
}

.post-header {
	height: 60px;
	max-height: 111px;
	background-color: #ffffff;
	align-items: center;
	display: flex;
	position: relative;
}
.post-header__avt {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
}
.post-header__name {
	position: absolute;
	left: 64px;
	top: 15px;
	font-weight: bold;
}
.post-header__created {
	position: absolute;
	left: 64px;
	top: 34px;
	font-size: x-small;
	font-weight: 400;
}
/* Post-body */
.list-reaction-icon {
	display: flex;
	img {
		width: 20px;
	}
}
.post-body {
	position: relative;

	overflow: hidden;
	background-color: #ffffff;
}
.post-body__content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.post-body__image {
	width: 590px;
	height: auto;
	max-height: 1000px;
}
.post-body__react {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px 5px 10px;
	position: relative;
	&--likes {
		left: 10px;
		cursor: pointer;
	}
	// &--likes:hover {
	// 	border-bottom: 0.5px solid black;
	// }
	&--comments {
		right: 10px;
		cursor: pointer;
	}
}
.post-body__interact {
	display: flex;
	justify-content: space-around;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	align-items: center;
	height: 42px;
	cursor: pointer;
	margin: 0 10px 10px 10px;
	border-top: 0.5px solid #cfd0d4;
	border-bottom: 0.5px solid #cfd0d4;
	&-option {
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		display: flex;
	}
	&-option:hover {
		background-color: lightgrey;
	}
	.reactions {
		width: 100%;
		.reactions-show,
		.reactions-show:hover {
			width: 20px;
			height: 20px;
			margin-right: 7px;
		}
	}
	.comments {
		width: 100%;
		padding: 0;
		height: 100%;
		button {
			cursor: pointer;
			background-color: transparent;
			border: 0;
			outline: none;
		}
	}
}
.comment-area {
	padding: 4px 16px;
	img {
		border-radius: 10px;
		width: 36px;
		height: 36px;
		margin-right: 10px;
	}
	.comment-list {
		display: flex;
		&-right {
			&__content {
				padding: 4px 12px;
				border-radius: 10px;
				background-color: var(--HOVER);
			}
		}
	}
}
